* {
  box-sizing: border-box;
  /* border: 1px red solid; */
}
.cart {
  padding: 2rem 0;
  width: 100%;
  height: calc(100vh - 3rem - 2rem);
  background: url('https://source.unsplash.com/6JgOnrS9REY');
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

.cart-item {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr 10fr 3fr 5fr 4fr 2fr;
  border-bottom: 1px black solid;
}

.cart-item .table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-bottom: 2px black solid;
}

.cart-item .table-header {
  font-weight: bold;
}

.cart-item img {
  width: 50px;
  height: 50px;
}

.cart-item .table-content-left {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 3px;
}
.cart-item .table-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.cart-item .right {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 3px;
}

.cart-item button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item input {
  width: 3rem;
  height: 1.5rem;
  text-align: right;
}

.checkout-btn {
  margin: 3rem;
}