.App {
  text-align: center;
}

.home {
  width: 100%;
  height: calc(100vh - 3rem - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: url('https://source.unsplash.com/P8XV99FyzCk');
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

.welcome {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.enter-shop-btn {
  font-size: 2rem;
}