.productDetails {
  width: 100%;
  height: calc(100vh - 3rem - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: url('https://source.unsplash.com/6JgOnrS9REY');
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}


.productContainer {
  width: 60vw;
  margin: auto;
  border: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

img {
  width: 100px;
  height: 100px;
  
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}  
  
.details {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  gap: 1rem;
}

.bold {
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: right;
}

input {
  text-align: right;
}