.product {
  height: 12rem;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.product img {
  width: 80px;
  height: 80px;
}

