.inventory .product {
  height: 14rem;
  color: black;
  border: 1px black solid;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  gap: 0.5rem;
  text-align:center;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.inventory .product * {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.inventory .product .bold {
  font-weight: bold;
}

.inventory .product img {
  width: 80px;
  height: 80px;
}

.inventory .product .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}