.App {
  display: grid;
  grid-template-rows: 3rem auto 2rem;
}

nav {
  background-color: #555;
  height: 5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  font-weight: bold;
  color: white;
}
