.App {
  display: grid;
  grid-template-rows: 3rem auto 2rem;
}

nav {
  background-color: #555;
  height: 5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  list-style-type: none;
  width: 5rem;
}

.nav-link a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.nav-link a:hover {
  font-weight: 900;
}